<!DOCTYPE html>
<html>
  <head>
    <title>Mad Libs</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <style>
    body
    {
      background-color: lightgreen;
    }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>The Tale Of @Model.GetNameOne()<h1>
      <p>One fateful day, @Model.GetNameOne() was walking through @Model.GetLocationOne()</p>
      <p>Suddenly, a dozen heards of wild @Model.GetAnimalOne() came running from all directions.</p>
      <p>They @Model.GetVerbOne()  for help, but it was was too late - @Model.GetNameOne() was totally @Model.GetVerbTwo()</p>
    </div>
</html>
